<div class="tabs">
    <a routerLink="bookmarks" routerLinkActive="selected" class="tab bookmarks-tab">
        <span class="tab-tile">
            <i class="material-icons-outlined">bookmarks</i>  
        </span>
        </a>
        <a routerLink="todos" routerLinkActive="selected"  class="tab todos-tab">
            <span class="tab-tile">
                <i class="material-icons-outlined">check</i>
            </span>
            </a>
            <a routerLink="notes" routerLinkActive="selected" class="tab notes-tab">
                <span class="tab-tile">
                  <i class="material-icons-outlined">notes</i>  
                </span>
                 </a>
</div>