<div class="bookmarks-wrapper">
    <div class="container">
    <div class="bookmark-tiles-container">
        <div class="bookmark-tiles-container">
            <div class="bookmark-tile">
            <img src="../../assets/google.png" alt="img">
            <p class="tile-text">Google</p>
            </div>
        
        <div class="bookmark-tile">
        <img src="../../assets/wikipedia.png" alt="img">
        <p class="tile-text">wikipedia</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/youTube.png" alt="img">
        <p class="tile-text">youTube</p>
        </div>
    </div>
   
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    <div class="bookmark-tiles-container">
        <div class="bookmark-tile">
        <img src="../../assets/example.jpg" alt="img">
        <p class="tile-text">example</p>
        </div>
    </div>
    
    
    
    
    
</div>
    </div>
</div>
